.*.swp
int/.*.swp
.htaccess
tickets
OldStuff/*
!images/icons
!images/2018Pics
!int/*/.htaccess
int/Configuration.ini
images/*.*
images/Sponsors
images/Sides
images/Works
images/Trade
images/Venues
images/gallery
images/images
images/Lol*
images/Lnl*
images/Buskers*
images/ArticleImgs
int/ArchiveImages
int/Store
int/OldStore
int/Insurance
int/PAspecs
int/Temp
int/LogFiles
int/Archive
int/Contracts
int/testing
int/Invoices/*/*.pdf
devtools
cache
files/TitlePrefix
Schema/.skeema

