#galleryflex {
  column-width:300px;
  column-left: 350px;
  column-right: 350px;
  column-gap: 25px;
}
.galleryarticle {
  min-width:33%;
  max-width:100%;
  max-width:640px;
  min-width:250px;
  width:100%;
  display: inline-block;
  margin-bottom:25px;
}
.galleryarticleimg {
  max-width:100%;
  max-height:300px;
  display:block;
  margin:0 auto;
  border-radius:15px;
  transition:background-color .5s;
}
.gallerycaption {
  background-color:#005983;
  text-align:center;
  color:#FFFFFF;
  border-radius:15px;
}
