/* Main - headers, footer and menus */

.main-header {
  position: sticky;
  top:0;
  z-index: 1000;
  border-bottom: 1px solid #fff;
  background:  linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2));
  transition: all ease-in-out 0.4s;
 /* box-shadow: 0 0 0px rgba(0,0,0,0);*/
  height: 80px;
  color:white;
/*  overflow: hidden; */
}

.main-header a, .main-header a:link, .main-header a:visited  {
  color:white;
}

.main-header:hover, .main-header.fixedheader{
  background: #fff;
}

.main-header:hover,
.main-header.fixedheader{
  box-shadow: 0 0 40px rgba(0,0,0,0.7);
}

.main-header .header-logo {
/*  max-width: 29%; */
  padding: 12px 30px;
  position: absolute;
  display: block;
  height: 54px;
}

.main-header .header-logo.head-white-logo{
  opacity: 1;
  transition: all ease-in-out 0.4s;
}
.main-header .header-logo.head-coloured-logo{
/*  opacity: 0; */
  transition: all ease-in-out 0.4s;
  display: none;
}
.main-header:hover .header-logo.head-white-logo,
.fixedheader ..main-header-logo.head-white-logo{
  opacity: 0;
}
.main-header:hover .header-logo.head-coloured-logo,
.fixedheader .header-logo.head-coloured-logo{
  opacity: 1;
  display: block;
}

.main-header .FestDates {
  display: inline-block;
  position: absolute;
  top:0;
  left:340;
  margin: 7 0 0 0;
  padding:0;
  text-align: center;
  font-weight:750;
}

.fixedheader .FestDates {
  color: #004668;
}

.headericon {
  transition: all ease-in-out 0.4s;
  max-height:20px;
  filter: grayscale(100%);
}

.headericon:hover {
  filter:none;
  transform: scale(1.5);
  background:white;
  border:2;
}
  
.fixedheader .navigation .headericon:hover {
  background:white;
}

.main-header #MenuBars {
  width: 67%; 
  height: 100%; 
  position: absolute;
  right: 0;
  float: right;
  margin: 0;
  padding:0;
  border:0;
  display: inline-block;
}

.PublicBar1 {
  height: 80px;
  line-height: 80px;
}

.PublicBar2 {
  height: 40px;
  line-height: 40px;
}

.PrivateBar {
  height: 40px;
  line-height: 40px;

}

.PrivateBar a {
  background-color: dimgrey;
}

.MenuIcon {
  position: absolute;  
  right: 0;
  width: 70px;
  height: 48px;
  padding-top:18;
  margin:5;
  text-align:center;
  background:white;
}

.MenuIcon:hover {
  background: #004668;
}

.MenuMenuClose {
  display:none;
}

.navigation {
  width:100%;
  text-align:right;
  padding:0;
}

.main-header .fixedheader a  {
 color: #004668;
}

.navigation a { 
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 15pt;
  padding-left:10px;
  padding-right:10px;
  vertical-align:middle;
  font-weight:520;
}

.fixedheader .navigation a:hover,
.navigation a:hover {
  background-color:#43a9b2;
  color:white;
  transition: all ease-in-out 0.4s;
  transform-origin: top center;
  perspective: 1000px;

}

.navigation .dropdown-content a {
  animation-name: menu-5;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes menu-5 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fixedheader .navigation a {
  color: #004668;
}

.fixedheader .PrivateBar a {
  color: white;
}

.navigation #MenuGetTicket {
  background:rgba(255,255,255,0.3);
  padding-left:30px;
  padding-right:30px;
}

.fixedheader .navigation #MenuGetTicket {
  background:rgba(2, 52, 76,0.1);
}

.navigation #MenuGetTicket:hover {
  background:rgba(197, 31, 132,1);
}

.dropdown {
  display: inline-block;
  padding:0;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 220px;
  z-index: 1010;
}

.dropdown-content a {
  line-height:20px; 
  text-align:center;
  font-size: 13pt;
  display: block; 
  background-color:white;
  padding:8px;  
  color:#43a9b2;
/*  border:0.5px solid #43a9b2; /* works - do I want it? */ 
}

.dropdown-content a:hover {
  background-color:#43a9b2;
  color:white;
}

.main-header .dropdown-content a, 
.main-header .dropdown-content a:link, 
.main-header .dropdown-content a:visited  {
  color:#43a9b2;
}

.main-header .dropdown-content a:hover  {
  color:white;
}

.NotYet {
  background-color:grey;
  pointer-events: none;
  cursor:default;
  color:grey !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  display: block;
}

.stick {
  display: block;
}

/* sub Main */
.PrivateBar .navigation, .PrivateBar .dropdown-content a:hover {
  background-color:#ec038c;

}

.PrivateBar .navigation a:hover, .PrivateBar .dropdown-content {
  background-color:#43a9b2;
}

.PrivateBar .MenuTesting {
  background:salmon;
  float:right;
}

/* Mobile menu stuff */

#HoverContainer {
/*  display:none; */
  position: fixed;
  top:80;
  right:-300;
  width:300;
  max-height: calc(100vh - 80px);
  height:auto;
  transition: margin-right 0.5s;  
}

.Slide-Left {
  margin-right:300px;
}

#HoverMenu {
  background: black;
  color: white;
  max-height: calc(100vh - 80px);
  height: 100%;
  text-align:left;
  transition: all ease-in-out 0.4s;
  z-index:950;
  overflow-y:auto;
  overflow-x:hidden;
/*  transform: translateX(-300);  */
}

#HoverMenu:hover {
  background: black;
  color: white;  
}

#HoverMenu .hoverdown {
  width:100%;
  font-size:18pt;
  padding: 4 10 4 10;
  color:white;
}

#HoverMenu .hoverdown-content {
  display:none;
  padding-left:20px;
}

.hoverdownarrow {
  float:right;
  padding-right:20;
  padding-left:20;
}

.Flip {
  transform: rotate(180deg);
}

#HoverMenu .hoverdown:hover,
#HoverMenu .hoverdown a:hover {
  background: dimgrey;
  color: white;  
}

/* Banner Stuff */

.NullBanner {
  min-height:80;
  width:1560;
  position:absolute; 
  top: 0;
  background:black;
}


.WMFFbanner400 {
  height:400;
  max-height:400;
  width:1560;
  max-width:100%;
  margin-top:-80;
  top: 0;
  background:black;
  z-index: 99;
  object-fit:contain;
  overflow:hidden;
}


.WMFFbanner600 {
  height:600;
  width:1560;
  max-width:100%;
  margin-top:-80;
  top: 0;
  background:black;
  z-index: 99;
  object-fit:contain;
  overflow:hidden;
}

.WMFFBannerText {
  color: #fff;
  margin: 30px 0 0;
  text-align: center;
  width:100%;
  font-size: 48pt;
  position: absolute;
  top:150;
  z-index: 100;  
  font-weight: 400;
  text-shadow: 0 0 15px black, 0 0 10px black ;
}

/* Home Page - large banner */

.WMFFbanner800 {
  height:800;
  width:1560;
  max-width:100%;
  margin-top:-80;
  top: 0;
  background:black;
  z-index: 99;
  object-fit:contain;
  overflow:hidden;
}

.WMFFbanner800 .BanOverlay {
  top:260;
  text-align:center;
  z-index: 100;
  position: absolute;
  object-fit: contain;
  left:50%;
  transform: translateX(-50%); 
}

.WMFFbanner800 .BanOverlay img {
  max-height:160px;
}

.WMFFbanner800 .BanDates {
  top:490;
  padding: 10 20;
  z-index: 100;
  position: absolute;
  left:50%;
  transform: translateX(-50%); 

  background:white;
  color:black;
  text-align:center;
  font-size:24pt;
  font-weight:bold;
  

}

.WMFFBannerDefault {
  width:100%;
  height:inherit;
  object-fit:cover;
}

.TornBottomEdge {

}

.TornTopEdge {
  margin-top:-35;
}

/* Footer Stuff */
.footer {
  font-size:9pt;
  padding: 0px 0px 100px 25px;
  background:url(/images/icons/Flora.png) repeat-x bottom left;
  background-color:#00344c ;
  color:#FFFFFF;
}

.copyright{
  width: 68%
}

.VersionBy{
  width: 28%;
  text-align: right;
  display: inline-block;
  float: right; 
  padding-right:20px;
}
